{% extends "includes/base.html" %}

{% load static %}

{% block title %}CHAT APP TEST{% endblock %}

{% block content %}

{% if latest_messages_list %}

<fieldset id="messagesDisplay" class="position-absolute bottom-0 start-50 translate-middle-x fieldset-messages">
  {% for message in latest_messages_list %}

  <div class="d-flex justify-content-end user-messages">
    <div class="message-bubble"> {{message.message_text|safe}} </div>
  </div>

    {% if message.mdResponses %}
      {% for response in message.mdResponses %}
        <div class="d-flex justify-content-start user-messages" style="align-items: flex-start;">
          <div class="message-bubble response"> {{response.markdown_text|safe}} </div>
        </div>
      {% endfor %}
    {% endif %}

  {% endfor %}

  <div class="container my-4">
    <div class="d-flex justify-content-center">
      <h3 style="margin: 0 10px">Actual Conversation</h3>
    </div>
  </div>

</fieldset>

{% endif %}


<form id="chatForm" action="{% url "sendMessage" %}" method="POST">
  {% csrf_token %}

  <fieldset class="d-flex justify-content-between align-items-end fieldset-default">
    <!-- Text input -->
    <input type="text" class="form-control" placeholder="Type here..." name="message" id="messageInput">

    <!-- File input (hidden) -->
    <input id="fileInput" type="file" class="d-none">

    <!-- Buttons -->
    <button id="fileButton" class="btn btn-secondary" style="margin-left: 5px;">
      <img src="{% static "icons/fileicon.svg" %}" alt="File button icon">
    </button>
    <input id="submitButton" type="submit" value="Send" class="btn btn-primary" style="margin-left: 5px;">
  </fieldset>

</form>

<!-- AJAX -->
<script src="{% static "ajax.js" %}"></script>

{% endblock content %}
